/*
                                | ---------------------------------------CSS--------------------------------------- |
                                |                                                                                   | 
                                |-----------------------------------------------------------------------------------|
*/

* {
    margin: 0;
    padding: 0;

}
body {
    width: 100%;
    font-family: 'Karla',Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/*                              |------------------------------------- HEADER --------------------------------------|                                  */
header {
    background-color: #E1B6B6;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
}
#menu-mobile {
    display: none;
}
.menu ul li a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.active,
.menu ul li a:hover {
    background-color: rgb(221, 136, 88);
    border-radius: 25px;
}
.menu ul li {
    list-style: none;
    padding: 10px;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
.menu-principal {
    width: 60%;
}
.logo img {
    margin-top: 10%;
    width: 100px;
}
.menu-mobile {
    display: none;
}
/*                              |------------------------------------ CONTAINER ------------------------------------|                                  */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}
/* slider animation css*/
.slider {
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border: 5px solid #C9C8C6;
    border-radius: 5px;
}
#slider-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    animation: slide 15s linear infinite;
}
#slider-list img {
    width: 400px;
    height: 300px;

}
@keyframes slide {
    0% {
        left: 0;
    }
    10% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    70% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    90% {
        left: -400%;
    }
    100% {
        left: 0;
    }
}
.bloc-intro {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.intro {
    width: 40%;
    margin: 50px;
    text-align: justify;
    color: #676464;
}
h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
    color: rgb(221, 136, 88);
}
h2 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: rgb(221, 136, 88);
}
h3 {
    margin: 20px 0;
    color: #676464;
}
h4 {
    font-size: 1.4rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    color: orange;
}
.slider2 {
    margin-top: 70px;
}
.api {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
#submit {
    width: 40%;
    height: 30px;
    background: white;
    border: 2px solid orange;
    color: orange;
    border-radius: 25px;
    margin: 30px 0;
    cursor: pointer;
}
#city {
    width: 90%;
    height: 35px;
    border: none;
    background: #E1B6B6;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 1.4rem;
}
#error {
    color: #d13131;
    width: 90%;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 10px;
}
.show {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

/*                              |------------------------------------- MAIN ---------------------------------------|                                  */
.main {

    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*                              |-------------------------------------ASIDE----------------------------------------|                                  */
aside {

    width: 20%;
    height: 80vh;
}
/*                              |------------------------------------COMMENTAIRE ----------------------------------|                                   */
.blocCommentaire {
    width: 80%;
    border: 2px solid #E1B6B6;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.zoneText {
    width: 25%;
}
#pseudo {
    width: 90%;
    height: 20px;
}
#commentaire {
    width: 90%;
}
.showCommentaire {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.contenuCom {
    width: 25%;
    color: #676464;

}
.com {
    margin: 5px;
}
.btnCommentaire {
    width: 91%;
    padding: 3px;
    border: 2px solid #E1B6B6;
    background: none;
    cursor: pointer;
    color: #676464;
}
.btnCommentaire:hover {

    background: #E1B6B6;
    cursor: pointer;
    color: white;
}

/*                              |------------------------------------ PAGES ARTICLES -------------------------------------|                                  */
.containerDeux {
    width: 80%;
    margin: 30px auto;
}
.blocArticles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article {
    width: 30%;
    height: 370px;
    padding: 10px;
    margin: 40px 0;
    box-shadow: 3px 3px 15px #666060;
    color: #676464;
    border-radius: 5px;
    overflow: hidden;

}
.article .imgArticle {
    width: 100%;
    height: 205px;
}
.article h5 {
    font-size: 1.2rem;
    color: rgb(221, 136, 88);
    margin: 5px 0;
}
.articleDate {
    margin: 10px 0;
    text-align: justify;
}
.articleContent {
    height: 75px;
    margin: 10px 0;
    text-align: justify;
    overflow: hidden;
}
.savoir {
    color: #7e7eda;
    text-decoration: none;
}
/*                              |------------------------------------ CONTACT -------------------------------------|                                  */
.containerTrois {
    padding: 20px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contact {
    width: 60%;
    margin: 90px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ssTitre {
    text-align: center;
    margin: 30px auto;
    font-size: 1.4rem;
    width: 60%;
    color: #676464;
}
.infosPerso {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}
.labelContact {
    align-self: center;
    width: 6%;
    color: #676464;
}
.nom {
    width: 25%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(221, 136, 88);
    color: #676464;
    font-size: 1rem;
}
.email {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(221, 136, 88);
    color: #676464;
    font-size: 1.2rem;
}
#message {
    width: 100%;
    margin: 50px 0;
    border: 2px solid rgb(221, 136, 88);
    border-radius: 5px;
    color: #676464;
    font-size: 1.2rem;
}
.submitContact {
    width: 20%;
    height: 40px;
    border: none;
    background: rgb(221, 136, 88);
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 auto;
}
.alert {
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    top: 40%;
    right: 25%;
    width: 50%;
    color: #6b64fb;
}
/*                              |------------------------------------- FOOTER --------------------------------------|                                  */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 5vh;
    color: #676464;
}
footer a {
    text-decoration: none;
    color: #676464;
}
.soc-icons {
    display: flex;
    justify-content: space-between;
    width: 12%;
}
/*                              |-------------------------------------- 404 ----------------------------------------|                                  */

.main404 {
    position: relative;
}
.monstre {
    position: absolute;
    bottom: 0;
    width: 63%;
    right: 150px;
    z-index: -1;
}
.bloc404 {
    width: 40%;
    position: absolute;
    top: 150px;
}
.titre404 {
    color: black;
    width: 100%;
    margin: 40px 0;
    font-size: 2.1rem;
}
.text404 {
    text-align: center;
    margin: 30px 0;
    font-size: 25px;
}
.btn404 {
    border: 2px solid #b567d2;
    background: none;
    color: #b567d2;
    border-radius: 5px;
    margin: 0 37%;
    height: 50px;
    width: 25%;
    font-size: 0.9rem;
    cursor: pointer;
}
/*                              |------------------------------------- CREER---------------------------------------|                                  */
.menu-principalAdmin {
    width: 40%;
}
.titreAdmin {
    width: 100%;
}
.formAdmin {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
    font-size: 1.4rem;
    color: #666060;
    position: relative;
}
.blocTitrePost {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.titrePost {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(221, 136, 88);
    color: #676464;
    font-size: 1.2rem;
}
.file {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}
.file > label {
    width: 50%;
    text-align: center;
}
.file > input {
    width: 50%;
}
#refPage {
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(221, 136, 88);
    color: #676464;
    font-size: 1.2rem;
}
.messagePost {
    width: 100%;
}
.choixPage {
    width: 100%;
    margin: 30px 0;
}
.texteAdmin {
    width: 100%;
    height: 200px;
}
.btnAdmin {
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
.btnAdmin input {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    background: rgb(221, 136, 88);
    border: none;
    color: white;
    font-size: 1.4rem;
}

/*                              |-------------------------------------- ANCIEN ---------------------------------------|                                  */
.tableau {
    width: 80%;
}
.tableau table {
    width: 100%;
    border: 2px solid #E1B6B6;
    border-radius: 5px;
    padding: 10px;
    margin: 50px 0;
    color: #666060;
    font-size: 1.2rem;
}
.hautTableau {
    font-size: 1.5rem;
    background: #E1B6B6;
    height: 40px;
    text-align: center;
    color: white;
}
td {
    padding: 10px;
}
.material-icons {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: #5353ba;
}
/*                              |------------------------------------ SUPPRIMER -------------------------------------|                                  */
.formSuppr {
    width: 60%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4rem;

}
.blocTitreSuppr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #dd2020cf;
    height: 200px;
    width: 70%;
    align-self: center;
    border-radius: 5px;
    margin: auto;
    padding: 40px;
}
.questSuppr {
    color: white;
    width: 100%;
}
.btnSuppr {
    width: 110px;
    height: 110px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    color: #dd2020cf;
}
/*                              |------------------------------------- ARTICLE --------------------------------------|                                  */
.oneArticle {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.titreOneArticle {
    width: 100%;
    margin: 50px auto;
}

.imageOneArticle {
    width: 100%;
    margin: 30px auto;
    display: flex;
}
.contentOneArticle {
    width: 100%;
    color: #666060;
    text-align: justify;
    margin: 20px 0;
    font-size: 1.2rem;
}
/*                              |------------------------------------- BOUTON TOP -------------------------------------|                                 */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 1.4rem;
    border: none;
    background-color: #E1B6B6;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;

}
/*                              |------------------------------------- MODAL COOKIEE------------------------------------|                                */
.modal-cookie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}
.bg-active {
    visibility: visible;
    opacity: 1;
}
.modal {
    position: relative;
    background-color: white;
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    color: gray;
}
.modal a {
    text-decoration: none;
    color: #E1B6B6;
}
.modal h2 {
    font-size: 1.8rem;
}
.agree {
    padding: 10px;
    border: none;
    font-size: 1rem;
    border: none;
    background: #E1B6B6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
/*                              |----------------------------------- inscription ------------------------------------|                                  */

.blocInscription {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e1e1e1;
    padding: 30px;
}
.titreInscrip {
    width: 100%;
    color: #444242;
}
.formInscrip {
    width: 40%;
    height: 60vh;
    border: 3px solid #E1B6B6;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formInscrip > button {
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #E1B6B6;
    color: #E1B6B6;
    background: none;
    font-size: 18px;
}
.inscrip {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.inscrip > label {
    width: 100%;
    padding: 10px;

}
.inscrip > input {
    width: 80%;
    background-color: #e1e1e1;
    padding: 10px;
    border: none;
}
.errors {
    position: absolute;
    top: 70px;
    color: #fb1140c2;
    font-size: 20px;
font-weight: bold;
}
.errorsEmail {
    color: #fb1140c2;
    position: absolute;
    top: 110px;
    font-size: 20px;
font-weight: bold;
}
.errorsPW {
    color: #fb1140c2;
    position: absolute;
    top: 150px;
    font-size: 20px;
font-weight: bold;
}
