* {
    margin: 0;
    padding: 0;

}
body {
    width: 100%;
    font-family: 'Karla', sans-serif;
}
/* ---------------------header---------------------- */
header {
    background-color: #E1B6B6;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
}
#menu-mobile {
    display: none;
}
.menu ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.active,
.menu ul li a:hover {
    background-color: rgb(221, 136, 88);
    border-radius: 25px;
}
.menu ul li {
    list-style: none;
    padding: 10px;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
.menu-principal {
    width: 60%;
}
.logo img {
    margin-top: 10%;
    width: 100px;
}
.menu-mobile {
    display: none;
}
/* ---------------------container---------------------- */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}
/* slider animation css*/
.slider {
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border: 5px solid #C9C8C6;
    border-radius: 5px;
}
#slider-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    animation: slide 15s linear infinite;
}
#slider-list img {
    width: 400px;
    height: 300px;

}
@keyframes slide {
    0% {
        left: 0;
    }
    10% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    70% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    90% {
        left: -400%;
    }
    100% {
        left: 0;
    }
}
.bloc-intro {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.intro {
    width: 40%;
    margin: 50px;
    text-align: justify;
    color: #676464;
}
h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: rgb(221, 136, 88);
}
h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(221, 136, 88);
}
h3 {
    margin: 20px 0;
    color: #676464;
}
h4 {
    font-size: 20px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    color: orange;
}
.slider2 {
    margin-top: 70px;
}
.api {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
#submit {
    width: 40%;
    height: 30px;
    background: white;
    border: 2px solid orange;
    color: orange;
    border-radius: 25px;
    margin: 30px 0;
    cursor: pointer;
}
#city {
    width: 90%;
    height: 35px;
    border: none;
    background: #E1B6B6;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 20px;
}
#error {
    color: #d13131;
    width: 90%;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.show {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

/* --------------main-------------- */
.main {

    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* --------------aside-------------- */
aside {

    width: 20%;
    height: 80vh;
}
/* -----------Commentaires------------- */
.blocCommentaire {
    width: 80%;
    border: 2px solid #E1B6B6;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.zoneText {
    width: 25%;
}
#pseudo {
    width: 90%;
    height: 20px;
}
#commentaire {
    width: 90%;
}
.showCommentaire {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.contenuCom {
    width: 25%;
    color: #676464;

}
.com {
    margin: 5px;
}
.soc-icons {
    display: flex;
    justify-content: space-between;
    width: 12%;
}
/* ---------------------articles------------------- */
.containerDeux {
    width: 80%;
    margin: 30px auto;
}
.blocArticles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article {
    width: 30%;
    height: 370px;
    padding: 10px;
    margin: 40px 0;
    box-shadow: 3px 3px 15px #666060;
    color: #676464;
    border-radius: 5px;
    overflow: hidden;

}
.article .imgArticle {
    width: 100%;
    height: 205px;
}
.article h5 {
    font-size: 18px;
    color: rgb(221, 136, 88);
    margin: 5px 0;
}
.articleDate {
    margin: 10px 0;
    text-align: justify;
}
.articleContent{
    height: 75px;
    margin: 10px 0;
    text-align: justify;
    overflow: hidden;
}
.savoir{
    color: #7e7eda;
text-decoration: none;
}
/* ---------------------Contact------------------- */
.containerTrois {
    background: white;
    padding: 20px;
    border-radius: 5px;
}
.contact {
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ssTitre {
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    width: 60%;
    color: #676464;
}
.infosPerso {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
}
.nom {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(221, 136, 88);
    color: #676464;
    font-size: 18px;
}
.email {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(221, 136, 88);
    color: #676464;
    font-size: 18px;
}
#message {
    width: 90%;
    margin: 50px 0;
    border: 2px solid rgb(221, 136, 88);
    border-radius: 5px;
    color: #676464;
    font-size: 18px;
}
.submitContact {
    width: 20%;
    height: 30px;
    border: none;
    background: rgb(221, 136, 88);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
/* ---------------------footer---------------------- */
footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5vh;
    color: #676464;
}
footer a {
    text-decoration: none;
    color: #676464;

}
/* ------------------404----------------- */
.main404 {
    position: relative;
}
.monstre {
    position: absolute;
    bottom: 0;
    width: 63%;
    right: 150px;
}
.bloc404 {
    width: 40%;

    position: absolute;
    top: 150px;
}
.titre404 {
    color: black;
    width: 100%;
    margin: 40px 0;
    font-size: 35px;
}
.text404 {
    text-align: center;
    margin: 30px 0;
    font-size: 25px;
}
.btn404 {
    border: 2px solid #b567d2;
    background: none;
    color: #b567d2;
    border-radius: 5px;
    margin: 0 40%;
    height: 50px;
    width: 25%;
    font-size: 15px;
    cursor: pointer;
}
/* -------------------admin------------------------- */
.menu-principalAdmin {
    width: 40%;
}
.titreAdmin {
    width: 100%;
}
.formAdmin {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
    font-size: 20px;
    color: #666060;
}
.blocTitrePost {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}
.titrePost {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(221, 136, 88);
    color: #676464;
    font-size: 18px;
}
#refPage {
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(221, 136, 88);
    color: #676464;
    font-size: 18px;
}
.messagePost {
    width: 100%;
}
.choixPage {
    width: 100%;
    margin: 30px 0;
}
.texteAdmin {
    width: 100%;
    height: 200px;
}
.btnAdmin {
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
.btnAdmin input {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    background: rgb(221, 136, 88);
    border: none;
    color: white;
    font-size: 20px;
}
/* --------------------post------------------ */
.tableau {
    width: 80%;
}
.tableau table {
    width: 100%;
    border: 2px solid #E1B6B6;
    border-radius: 5px;
    padding: 10px;
    margin: 50px 0;
    color: #666060;
    font-size: 18px;
}
.hautTableau {
    font-size: 24px;
    background: #E1B6B6;
    height: 40px;
    text-align: center;
    color: white;
}
td {
    padding: 10px;
}
.material-icons {
    font-size: 36px;
    text-align: center;
    width: 100%;
    color: #5353ba;
}
